@charset "utf-8";
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{margin: 0; padding: 0;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
h2{font-family: 'JalnanGothic';
}
html{scroll-behavior: smooth;}
